# Exercises for the RDTSK
## from <a href="https://www.r-bloggers.com/data-hacking-with-rdstk-part-1/" target="_blank">New Tab</a>

In [12]:
#Exercise 1: Install the packages
#update.packages(,repos='http://cran.us.r-project.org')
library('RDSTK')

Warning message:
"package 'RDSTK' was built under R version 3.2.5"Loading required package: plyr
Warning message:
"package 'plyr' was built under R version 3.2.5"Loading required package: rjson
Warning message:
"package 'rjson' was built under R version 3.2.5"Loading required package: RCurl
Warning message:
"package 'RCurl' was built under R version 3.2.5"Loading required package: bitops
Warning message:
"package 'bitops' was built under R version 3.2.5"

In [16]:
#Exercise 2: Convert the ip adress to co-ordinates. address=”165.124.145.197″. Store the results under the variable stat
ip2coordinates('165.124.145.197') -> x
x -> stat
stat

  ip.address      dma_code latitude country_code3 area_code longitude
1 165.124.145.197 602      42.0586  USA           847       -87.6845
  country_name  postal_code region locality country_code
1 United States 60208       IL     Evanston US

In [23]:
#Exercise 3: Derive the elevation of that location using the lattitude and longitude. Use the function coordinate coordinates2statistics() function to achieve this.Once you get the elevation store this back as one of the features of stat.
coordinates2statistics(stat[3], stat[6], 'elevation') -> elevation
elevation
merge(elevation, stat) -> stat
stat

  statistics.elevation.value
1 190
  statistics.elevation.source_name
1 NASA and the CGIAR Consortium for Spatial Information
  statistics.elevation.units
1 meters
  statistics.elevation.description                         location.latitude
1 The height of the surface above sea level at this point. 42.0586
  location.longitude
1 -87.6845

  statistics.elevation.value
1 190
  statistics.elevation.source_name
1 NASA and the CGIAR Consortium for Spatial Information
  statistics.elevation.units
1 meters
  statistics.elevation.description                         location.latitude
1 The height of the surface above sea level at this point. 42.0586
  location.longitude ip.address      dma_code latitude country_code3 area_code
1 -87.6845           165.124.145.197 602      42.0586  USA           847
  longitude country_name  postal_code region locality country_code
1 -87.6845  United States 60208       IL     Evanston US

In [39]:
#Exercise 4
#    Derive the population_density of that location using the lattitude and longitude. 
#   Use the function coordinate coordinates2statistics() function to achieve this. 
#    Once you get the elevation store this back as one of the features of stat called pop_den.
coordinates2statistics(stat[5], stat[6], 'population_density') -> pop_den
pop_den
merge(stat, pop_den)
stat

  statistics.population_density.value
1 3040
  statistics.population_density.source_name
1 NASA Socioeconomic Data and Applications Center (SEDAC)  Hosted by CIESIN at Columbia University
  statistics.population_density.description
1 The number of inhabitants per square kilometer around this point.
  location.latitude location.longitude
1 42.0586           -87.6845

  location.latitude location.longitude statistics.elevation.value
1 42.0586           -87.6845           190
  statistics.elevation.source_name
1 NASA and the CGIAR Consortium for Spatial Information
  statistics.elevation.units
1 meters
  statistics.elevation.description                         ip.address
1 The height of the surface above sea level at this point. 165.124.145.197
  dma_code latitude country_code3 area_code longitude country_name  postal_code
1 602      42.0586  USA           847       -87.6845  United States 60208
  region locality country_code statistics.population_density.value
1 IL     Evanston US           3040
  statistics.population_density.source_name
1 NASA Socioeconomic Data and Applications Center (SEDAC)  Hosted by CIESIN at Columbia University
  statistics.population_density.description
1 The number of inhabitants per square kilometer around this point.

  statistics.elevation.value
1 190
  statistics.elevation.source_name
1 NASA and the CGIAR Consortium for Spatial Information
  statistics.elevation.units
1 meters
  statistics.elevation.description                         location.latitude
1 The height of the surface above sea level at this point. 42.0586
  location.longitude ip.address      dma_code latitude country_code3 area_code
1 -87.6845           165.124.145.197 602      42.0586  USA           847
  longitude country_name  postal_code region locality country_code
1 -87.6845  United States 60208       IL     Evanston US

In [41]:
#Exercise 6
#
#    We have to transform the mean_temperature so we can store this as one of the features in our stat dataset. 
#    One way to do this is to convert it from long to wide format but that would be too reduntant. 
#    Let’s just find the mean temperature from January-December. 
#    You might find the _sapply function_ useful to convert each element in the list to integers.

sapply(coordinates2statistics(stat[5],stat[6],"mean_temperature")[1], function(x) mean(x)) -> mean_temp
mean_temp
merge(stat, mean_temp)
stat

statistics.mean_temperature.value
                             9.55

  statistics.elevation.value
1 190
  statistics.elevation.source_name
1 NASA and the CGIAR Consortium for Spatial Information
  statistics.elevation.units
1 meters
  statistics.elevation.description                         location.latitude
1 The height of the surface above sea level at this point. 42.0586
  location.longitude ip.address      dma_code latitude country_code3 area_code
1 -87.6845           165.124.145.197 602      42.0586  USA           847
  longitude country_name  postal_code region locality country_code y
1 -87.6845  United States 60208       IL     Evanston US           9.55

  statistics.elevation.value
1 190
  statistics.elevation.source_name
1 NASA and the CGIAR Consortium for Spatial Information
  statistics.elevation.units
1 meters
  statistics.elevation.description                         location.latitude
1 The height of the surface above sea level at this point. 42.0586
  location.longitude ip.address      dma_code latitude country_code3 area_code
1 -87.6845           165.124.145.197 602      42.0586  USA           847
  longitude country_name  postal_code region locality country_code
1 -87.6845  United States 60208       IL     Evanston US

In [43]:
#Exercise 7
#
#    We decided we do not really need January-December mean value. 
#    We actually need the mean temperature from June-December. 
#    Make that adjustment to your last code and store the results back in stat under the name mean_temp
sapply(coordinates2statistics(stat[5],stat[6],"mean_temperature")[1], function(x) mean(x)[-6]) -> mean_temp
mean_temp
merge(stat, mean_temp)
stat

statistics.mean_temperature.value
                             9.55

  statistics.elevation.value
1 190
  statistics.elevation.source_name
1 NASA and the CGIAR Consortium for Spatial Information
  statistics.elevation.units
1 meters
  statistics.elevation.description                         location.latitude
1 The height of the surface above sea level at this point. 42.0586
  location.longitude ip.address      dma_code latitude country_code3 area_code
1 -87.6845           165.124.145.197 602      42.0586  USA           847
  longitude country_name  postal_code region locality country_code y
1 -87.6845  United States 60208       IL     Evanston US           9.55

  statistics.elevation.value
1 190
  statistics.elevation.source_name
1 NASA and the CGIAR Consortium for Spatial Information
  statistics.elevation.units
1 meters
  statistics.elevation.description                         location.latitude
1 The height of the surface above sea level at this point. 42.0586
  location.longitude ip.address      dma_code latitude country_code3 area_code
1 -87.6845           165.124.145.197 602      42.0586  USA           847
  longitude country_name  postal_code region locality country_code
1 -87.6845  United States 60208       IL     Evanston US

In [37]:
#Exercise 8
#   Okay great. Now lets work with more IP-address data. 
#    Here is a list of a few ip-addresses scraped from a few commenters of my exercises.
list=c('165.124.145.197','31.24.74.155',"79.129.19.173")
df=data.frame(list)
df[,1]=as.character(df[,1])
df

  list
1 165.124.145.197
2 31.24.74.155
3 79.129.19.173

In [70]:
#Exercise 9
#Use a iterator like apply that will go through the list and derive its statistics with the ip2coordinates() function. This is the first part. You may get a list within list sort of result. Store this in a variable called data
#Exercise 10
#Use a method to convert that list within list into a dataframe with 3 rows and all columns derived 
#from the ip2coordinates() function. You are open to use any method for this.
stat <- sapply(list, function(x) {
ip2coordinates(x) -> stat
coordinates2statistics(stat[3], stat[6], 'elevation') -> elevation
lat <- stat[3]
long <- stat[6]
merge(elevation, stat) -> stat
coordinates2statistics(lat, long, 'population_density') -> pop_den
sapply(coordinates2statistics(lat,long,"mean_temperature")[1], function(x) mean(x)[-6]) -> mean_temp
merge(stat, mean_temp)})
stat

                                 165.124.145.197 31.24.74.155 79.129.19.173
location.latitude                42.0586         57.1         39.7378
location.longitude               -87.6845        12.25        22.2892
statistics.elevation.description 1               1            1
statistics.elevation.units       1               1            1
statistics.elevation.source_name 1               1            1
statistics.elevation.value       190             18           94
ip.address                       165.124.145.197 31.24.74.155 79.129.19.173
dma_code                         602             0            0
latitude                         42.0586         57.1         39.7378
country_code3                    1               1            1
area_code                        847             0            0
longitude                        -87.6845        12.25        22.2892
country_name                     1               1            1
postal_code                      1               1            1
region                           1               1            1
locality                         1               1            1
country_code                     1               1            1
y                                42.0586         57.1         39.7378